.imageParagraph{
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    height: 600px;
}

.natjecajiparagraph1, .natjecajiparagraph2{
    position: absolute;
    background-size: cover;
    background-position: center;
    display: flex;    
    width: 480px;
    height: 270px;
    border-radius: 10px;
    left: 170px;
}

.natjecajiparagraph1{
    background-image: url("../../images/5.jpg");
    top: 50px;
}

.natjecajiparagraph2{
    background-image: url("../../images/6.png");
    bottom: 0px;
}

.oglasnikparagraph1, .oglasnikparagraph2{
    position: absolute;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 480px;
    height: 270px;
    border-radius: 10px;
    right: 170px;
}

.oglasnikparagraph1{
    background-image: url("../../images/8.jpg");
    top: 50px;
}

.oglasnikparagraph2{
    background-image: url("../../images/7.jpg");
    bottom: 0%;
}

.naslov1, .naslov2{
    position: absolute;
    top: 0%;
    width: 150px;
    background-color: #e2d0d0c0;
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
}

.naslov1{
    left: 335px;
}

.naslov2{
    right: 335px;
}

.natjecajiparagraph1text, .natjecajiparagraph2text{
    position: absolute;
    display: table;
    font-size: 20px;
    border-radius: 10px;
    background-color: #e2d0d0c0;
    text-align: center;
    bottom: 0%;
    height: 40px;
    width: 100%;
    line-height: 40px;
}

.oglasnikparagraph1text, .oglasnikparagraph2text{
    position: absolute;
    display: table;
    font-size: 20px;
    border-radius: 10px;
    background-color: #e2d0d0c0;
    text-align: center;
    bottom: 0%;
    height: 40px;
    width: 100%;
    line-height: 40px;
}