.searching{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #dfc8c8;
    width: 207px;
    position:absolute;
    right: 0px;
    top: 259px; 
    list-style-type: none;
}