.navigationBar {
  position: absolute;
  left: -228px;
  background-color: #dfc8c8;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  width: 100%;
/*   height: 52px; */
  margin: 228px;
}

.navigationBar li {
  padding: 14px 15px;
  list-style: none;
  width: fit-content;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #555
 }
 
.navigationBar li:hover {
  border-bottom: 2px solid darkgray;
  cursor: pointer;
}

.navigationBar .active, .navigationBar .active:hover{
  border-bottom: 2px solid black;
}